body{
    text-align: center;
    background-image: url("images/confetti.png");
}
body{
    display: flex;
}
#reproductor{

    margin: 20px auto;
    padding: 5px;
    background: limegreen;
    border: 3px solid orange;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
nav{
    margin: 5px 0px;
}
#botones{
    float: left;
    width: 100px;
    height: 20px;

}

#progreso{
    position: relative;
    float: left;
    width:600px;
    height: 16px;
    text-align: left;
    border-radius: 2em;
    font-size: 15px;
    padding: 2px;
    border: 1px solid black;
    background:yellow ;


}
.speaker{
    width:20%;
    margin-top: 5%;
    margin: 20px auto;

}
