body{
    text-align: center;
    background-image: url("images/confetti.png");
}
body{
    display: flex;
}
#reproductor{

    margin: 20px auto;
    padding: 5px;
    background: #999999;
    border: 1px solid #666666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
nav{
    margin: 5px 0px;
}
#botones{
    float: left;
    width: 100px;
    height: 20px;
}
#barra{
    position: relative;
    float: left;
    width: 600px;
    height: 16px;
    padding: 2px;
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    border-radius: 2em;

}
#progreso{
    position: absolute;
    width: 0px;
    height: 16px;
    background: orangered;
    border-radius: inherit;


}
.speaker{
    width:20%;
    margin-top: 5%;
    margin: 20px auto;

}
